* {
  box-sizing: border-box;
}

/* Style tag body */
body {
  font-family: Arial;
  margin: 0;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Header/logo Judul */
.header {
  padding: 30px;
  text-align: center;
  background-color: rgba(136, 77, 9, 0.875);
  color: white;
  margin: 2px;
  border-radius: 10px;
}

/* Style box navigasi  */
.navbar {
  display: flex;
  background-color: rgba(66, 36, 2, 0.875);
  margin: 2px;
  border-radius: 10px;
}

/* Style navigasi link */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* ubah warna link menu ketika disentuh */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Kolom container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/kiri kolom */
.side {
  flex: 15%;
  background-color: #c69c6dee;
  padding: 20px;
  margin: 15px 15px 15px 15px;
  border-radius: 50px;
  text-align: center;
  color: rgba(136, 77, 9);
}
.image img {
  width: 300px;
  height: auto;
  border: 3px solid rgba(255, 255, 255, 0.733);
  border-radius: 100%;
  align-items: center;
}
.row {
  border: none;
}

table td {
  padding: 3px;
  text-align: left;
  font-size: 14px;
}
/* Kolom utama */
.main {
  flex: 60%;
  background-color: #c69c6dee;
  padding: 30px 60px 30px 60px;
  margin: 15px 15px 15px 15px;
  border-radius: 50px;
  color: rgba(136, 77, 9);
}

/* Bagian card css grid */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
  margin-bottom: 50px;
  align-items: center;
  grid-gap: 30px;
}
img {
  object-fit: cover;
}
.grid > article {
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.699);
  border-radius: 5px;
  background: whitesmoke;
  width: 200px;
  height: 370px;
  transition: transform;
}
.grid > article h4,
p {
  padding-left: 10px;
  padding-right: 10px;
}
.grid > article img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.grid > article:hover {
  transform: scale(1.1);
}
.harga {
  color: rgb(29, 131, 3);
}
.deskripsi {
  color: rgb(97, 97, 97);
}
.button-block {
  width: 100%;
  align-items: center;
  background-color: rgb(29, 131, 3);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 5px solid whitesmoke;
  border-radius: 10px;
}

.button-order {
  color: white;
  text-decoration: none;
}
.button-order:hover {
  color: rgb(204, 201, 201);
}

/* Footer */
.footer {
  padding: 15px;
  text-align: center;
  color: rgba(136, 77, 9);
  background-color: #c69c6ddc;
  margin: 2px;
  border-radius: 10px;
  clear: left;
}

.footer a {
  color: rgba(136, 77, 9);
  text-decoration: none;
}

.footer a:hover {
  color: black;
}

/* Tampilan responsive  - ketika lebar layar kurang dari700px ,maka akan membuat 
  dua kolom bertumpuk satu sama lain, bukan di samping satu sama lain */
@media screen and (max-width: 500px) {
  .row,
  .navbar {
    flex-direction: column;
  }
  .side {
    margin: 10px 15px 10px 15px;
  }
  .main {
    margin: 10px 15px 10px 15px;
    padding: 30px;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid > article {
    width: 100%;
    height: 100%;
  }
  .grid > article img {
    width: 100%;
  }
}
